.light {
    --banner-bg-color: #8D3C62;
    --banner-button-color: #B5425D;
    --banner-button-active: #8171a0;
    --banner-accent:#860043;
    --banner-text: #FFFFFF;

    --page-bg-color: #FFFFFF;
    --page-text: #000000;
}
.dark {
    --banner-bg-color: #8D3C62;
    --banner-button-color: #B5425D;
    --banner-button-active: #8171a0;
    --banner-accent:#860043;
    --banner-text: #000000;

    --page-bg-color: #444444 ;
    --page-text: #FFFFFF;
}
/*
    Sets all pages sent to the <slot/> in src/routes/__layout.svelte back to default colors
*/
body {
    background-color: var(--page-bg-color);
    color: var(--page-text);
}

#NavBar, footer {
    background-color: var(--banner-bg-color);
    color: var(--banner-text);
}
#NavBar a, button{
    color: var(--banner-text);
}
#NavBar button {
    background-color: var(--banner-button-color);
}
#NavBar #Dropdown {
    background-color: var(--banner-accent);
}