/*
    makes the svelte app take up the entire browser window
*/
body {
    position: fixed;
    margin:0;
    padding:0;
    overflow: auto;
}
#svelte {
    display: flex;
    width: 100vw;
    flex-direction: column;
    font-size: 1rem;
}