/*
    makes the svelte app take up the entire browser window
*/
html, body {
    position: fixed;
    overflow: hidden;
}
body {
    margin:0;
    padding:0;
}
#svelte {
    position: fixed;
    width: 100vw;
}