/*
    makes the svelte app take up the entire browser window
*/
html, body {
    position: fixed;
    overflow: hidden;
    height: -webkit-fill-available;
}
body {
    margin:0;
    padding:0;
}
#svelte {
    width: 100vw;
    font-size: 1rem;
}